{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="homepage d-flex">
        <h1 class="d-flex align-items-center">Bonjour</h1>
    </div>
{% endblock %}
