<div class="header d-flex justify-content-between">   
    <div class="header-logo d-flex justify-content-center align-items-center ml-50">
        <div class="avatar">
            <img src="" alt="">
        </div>
        <h2 class="ml-20">PROGICA</h2>
    </div>
    <div class="connexion d-flex justify-content-center">
        <div class="connexion-new d-flex justify-content-center align-items-center">
            <ul class="d-flex mr-20">
                <li class="mr-20"><a href="">Inscription</a></li>
                <li class="mr-20"><a href="">Connexion</a></li>
            </ul>
        </div>
    </div>  
</div>