<div class="header d-flex justify-content-between">   
    <div class="header-logo d-flex justify-content-center align-items-center ml-150">
       <a href="{{ path('home') }}">
            <div class="avatar">
                <img src="/images/progica_logo.png" alt="logo">
            </div>
       </a>
        <h2 class="progica ml-20">PROGICA</h2>
    </div>
    <div class="connexion d-flex justify-content-center">
        <div class="connexion-new d-flex justify-content-center align-items-center">
            <ul class="d-flex mr-20">
                <li class="button mr-20"><a href="{{ path('user_signup') }}">Inscription</a></li>
                <li class="button mr-20"><a href="{{ path('user_signin') }}">Connexion</a></li>
            </ul>
        </div>
    </div>  
</div>